<h1> Products!</h1>
<% @products.each do |product| %>
  <p>
    <%= link_to product.name, product %>,
    $<%= product.formatted_price %>
    - <%= product.description %>
  </p>

<% end %>
  <%= link_to "New product!", "/products/new" %>